:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.hue-rotating {
  animation: hue-rotate 120s linear infinite;
}

@keyframes page-out {
  to {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes page-in {
  from {
    transform: scale(5);
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 0.3s ease-in page-out;
}

::view-transition-new(root) {
  animation: 0.3s ease-in page-in;
}

button {
  appearance: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}